*.{apk} filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-695990af070257d364f1aea051e12b26a24036fe.pack filter=lfs diff=lfs merge=lfs -text
FrontEnd/app/release/app-release.apk filter=lfs diff=lfs merge=lfs -text
